.heading {
    color: whitesmoke;
    text-align: center;
    padding-block: 0.5em;
}

.navigation {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.navigationLink {
    background-color: #113d11;
    padding: 1em;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.navigationLink:hover{
    box-shadow: -3px 5px 1px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.navigationLinkText {
    font-size: 2rem;
    font-weight: bold;
    color: gold;
    text-align: center;
}

.blackjack {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

.blackjack>*:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}